.userdash-sidebar {
  border: #b4b3b3 1px solid;
  max-height: 720px;
}
@media (min-width: 1025px) {
  .userdash-sidebar {
    max-width: 120px;
    min-height: 640px;
    border-radius: 1%;
  }
  .dashboard-add {
    left: 96%;
  }
  .dashboard-body {
    height: 620px;
  }
}
@media (max-width: 1025px) {
  .userdash-sidebar {
    max-height: 1px;

    position: fixed;
    bottom: 0;
  }
  .dashboard-add {
    left: 80%;
  }
  .dashboard-body {
    height: 720px;
  }
}
.userdash-sidebar .selected {
  color: #dedddd;
  background: #101f3c;
}

.userdash-sidebar .img-fluid {
  max-height: 48px;
}
.dashboard-page-name {
  background: #fff;
}
.dashboard-page {
  border: #b4b3b3 1px solid;
}
.dashboard-add {
  bottom: 10%;
  background: linear-gradient(to left, #101f3c, rgb(228, 227, 227));
  max-width: fit-content;
  cursor: pointer;
  border: white 1px solid;
  transition: all 0.1s;

}
.dashboard-add:hover {
  background: linear-gradient(to left, #182949, rgb(251, 250, 250));

}
.dashboard-add:active{
  background: none;
  border: #182949 1px solid;
}
.dashboard-body {
  overflow-y: scroll;
}
.dashboard-body::-webkit-scrollbar {
  display: none;
}
.empty p {
  color: grey;
  font-style: italic;
}
.the-avatar {
  max-height: 64px;
}
.the-profile {
  max-width: max-content;
}
.the-profile button {
  max-width: fit-content;
}
.user-email {
  color: grey;
}
.account-setup {
  /* max-width: max-content; */
  border: 1px grey solid;
}
